<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="http://localhost:3000/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="http://localhost:3000/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    vehicle tracking system
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link href="http://localhost:3000/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="http://localhost:3000/assets/css/paper-dashboard.min790f.css" rel="stylesheet" />
  <link href="http://localhost:3000/assets/demo/demo.css" rel="stylesheet" />
  <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        '../../../../www.googletagmanager.com/gtm5445.html' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
  </script>
  <!-- End Google Tag Manager -->
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="brown" data-active-color="danger">
      <div class="sidebar-wrapper">
        <div class="user">
          <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>
                {{agencyName.agencyName}}
                <b class="caret"></b>
              </span>
            </a>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseExample">
              <ul class="nav">
                <li>
                  <a href="/agency/profile/{{agencyId}}">
                    <span class="sidebar-mini-icon">MP</span>
                    <span class="sidebar-normal">My Profile</span>
                  </a>
                </li>
                <li>
                  <a id="logout">
                    <span class="sidebar-mini-icon">L</span>
                    <span class="sidebar-normal">Logout</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="nav">
          <li>
            <a href="/dashboard/agency/{{agencyId}}">

              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a data-toggle="collapse" href="#pagesExamples">

              <p>
                Delivery
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse " id="pagesExamples">
              <ul class="nav">
                <li>
                  <a href="/delivery/list/{{agencyId}}">
                    <span class="sidebar-mini-icon">L</span>
                    <span class="sidebar-normal"> List </span>
                  </a>
                </li>
                <li>
                  <a href="/delivery/create/{{agencyId}}">
                    <span class="sidebar-mini-icon">C</span>
                    <span class="sidebar-normal"> Create </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a data-toggle="collapse" href="#tablesExamples">

              <p>
                Driver
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse " id="tablesExamples">
              <ul class="nav">
                <li>
                  <a href="/driver/list/{{agencyId}}">
                    <span class="sidebar-mini-icon">L</span>
                    <span class="sidebar-normal"> List </span>
                  </a>
                </li>
                <li>
                  <a href="/driver/register/{{agencyId}}">
                    <span class="sidebar-mini-icon">C</span>
                    <span class="sidebar-normal"> Register</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="/location/map/{{agencyId}}">

              <p>Track</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">vehicle tracking system</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- <div class="panel-header">
</div> -->
      <div class="content">
        <input type="hidden" id="agencyId" , name="agencyId" value={{agencyId}}>
        <div class="row">

          <div class="col-md-12">
            {{#if msg}}
            <div class="alert alert-info">
              <span>Your agency does not have active delivery</span>
            </div>
            {{/if}}
            <div class="card ">
              {{#if map}}
              <div class="card-body">
                <div id="map" class="map"></div>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">

            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made <i class="fa fa-heart heart"></i> by tcet students
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- google map js -->
  {{#if map}}
  <script>
    let locations = [];
    let agencyId = $('#agencyId').val();
    let url = `http://localhost:3000/location/vehicle/${agencyId}`;
    function initialize() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: new google.maps.LatLng(19.0760, 72.8777),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      $.ajax({
        type: "GET",
        url: url,
        success: function (data) {
          let l = data.length;

          for (i = 0; i < l; i++) {
            let latlng = data[i];
            locations.push(latlng);
          }

          var infowindow = new google.maps.InfoWindow();
          var marker, i;

          for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(locations[i].lat, locations[i].lng),
              map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
              return function () {
                infowindow.setContent(locations[i]._id);
                infowindow.open(map, marker);
              }
            })(marker, i));
          }

        },
        error: function () {
          alert(" Error as occurred while sending your location please trying refresh your page");
        }
      });


    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwpIltCnAhMK3vY7J6g9b7uEYX-Su3wo0&callback=initialize">
  </script>
  {{/if}}
  <!--google map js -->
  <!--   Core JS Files   -->
  <script src="http://localhost:3000/assets/js/core/jquery.min.js"></script>
  <script src="http://localhost:3000/assets/js/core/popper.min.js"></script>
  <script src="http://localhost:3000/assets/js/core/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {

      $('#logout').click(function () {
        sessionStorage.clear();
        window.location.replace("/logout");
      });

      $sidebar = $('.sidebar');
      $sidebar_img_container = $sidebar.find('.sidebar-background');

      $full_page = $('.full-page');

      $sidebar_responsive = $('body > .navbar-collapse');
      sidebar_mini_active = true;

      window_width = $(window).width();

      fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

      // if( window_width > 767 && fixed_plugin_open == 'Dashboard' ){
      //     if($('.fixed-plugin .dropdown').hasClass('show-dropdown')){
      //         $('.fixed-plugin .dropdown').addClass('show');
      //     }
      //
      // }

      $('.fixed-plugin a').click(function (event) {
        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
        if ($(this).hasClass('switch-trigger')) {
          if (event.stopPropagation) {
            event.stopPropagation();
          } else if (window.event) {
            window.event.cancelBubble = true;
          }
        }
      });

      $('.fixed-plugin .active-color span').click(function () {
        $full_page_background = $('.full-page-background');

        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-active-color', new_color);
        }

        if ($full_page.length != 0) {
          $full_page.attr('data-active-color', new_color);
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.attr('data-active-color', new_color);
        }
      });

      $('.fixed-plugin .background-color span').click(function () {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');

        var new_color = $(this).data('color');

        if ($sidebar.length != 0) {
          $sidebar.attr('data-color', new_color);
        }

        if ($full_page.length != 0) {
          $full_page.attr('filter-color', new_color);
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.attr('data-color', new_color);
        }
      });

      $('.fixed-plugin .img-holder').click(function () {
        $full_page_background = $('.full-page-background');

        $(this).parent('li').siblings().removeClass('active');
        $(this).parent('li').addClass('active');


        var new_image = $(this).find("img").attr('src');

        if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          $sidebar_img_container.fadeOut('fast', function () {
            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $sidebar_img_container.fadeIn('fast');
          });
        }

        if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $full_page_background.fadeOut('fast', function () {
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            $full_page_background.fadeIn('fast');
          });
        }

        if ($('.switch-sidebar-image input:checked').length == 0) {
          var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
          var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

          $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
          $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
        }

        if ($sidebar_responsive.length != 0) {
          $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
        }
      });

      $('.switch-sidebar-image input').on("switchChange.bootstrapSwitch", function () {
        $full_page_background = $('.full-page-background');

        $input = $(this);

        if ($input.is(':checked')) {
          if ($sidebar_img_container.length != 0) {
            $sidebar_img_container.fadeIn('fast');
            $sidebar.attr('data-image', '#');
          }

          if ($full_page_background.length != 0) {
            $full_page_background.fadeIn('fast');
            $full_page.attr('data-image', '#');
          }

          background_image = true;
        } else {
          if ($sidebar_img_container.length != 0) {
            $sidebar.removeAttr('data-image');
            $sidebar_img_container.fadeOut('fast');
          }

          if ($full_page_background.length != 0) {
            $full_page.removeAttr('data-image', '#');
            $full_page_background.fadeOut('fast');
          }

          background_image = false;
        }
      });


      $('.switch-mini input').on("switchChange.bootstrapSwitch", function () {
        $body = $('body');

        $input = $(this);

        if (paperDashboard.misc.sidebar_mini_active == true) {
          $('body').removeClass('sidebar-mini');
          paperDashboard.misc.sidebar_mini_active = false;

          $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

        } else {

          $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

          setTimeout(function () {
            $('body').addClass('sidebar-mini');

            paperDashboard.misc.sidebar_mini_active = true;
          }, 300);
        }

        // we simulate the window Resize so the charts will get updated in realtime.
        var simulateWindowResize = setInterval(function () {
          window.dispatchEvent(new Event('resize'));
        }, 180);

        // we stop the simulation of Window Resize after the animations are completed
        setTimeout(function () {
          clearInterval(simulateWindowResize);
        }, 1000);

      });

    });
  </script>
  <script>
    $(document).ready(function () {
      demo.initSmallGoogleMaps();
    });
  </script>
</body>


<!-- Mirrored from demos.creative-tim.com/paper-dashboard-2-pro/examples/maps/google.html by HTTrack Website Copier/3.x [XR&CO'2017], Tue, 19 Feb 2019 15:27:42 GMT -->

</html>